<head>
    <meta charset="utf-8"> 
	<meta http-equiv='cache-control' content='no-cache'>
	<style>
		a {margin-left: 30px;}
	</style>
	<title>Moderators System</title>
	<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" />
	<script src="https://cdn.staticfile.org/jquery/3.4.1/jquery.min.js"></script> 
	<script src="https://cdn.staticfile.org/popper.js/1.15.0/umd/popper.min.js"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
	<script src="https://code.angularjs.org/snapshot/angular.min.js"></script>
</head>

<div ng-controller="ModeratorsController">
<h1 style="margin: 10px;">Book Store</h1>
<div style="margin: 0 30px; border-bottom:4mm ridge rgb(0 ,134 ,139, .6); padding-bottom: 10px;">
		<div style="display: flex; flex-direction: row;">
		<a href="#/home">Home</a>
		<a href="#/moderators/userlist">User Management</a>
		<a href="#/moderators/booklist">Book Management</a>
		<a href="#/moderators/contract">Contract Management</a>
		<a href="#/moderators/summary">Summary Report</a>
		<form ng-hide="notLogined" style="margin-left: 30px;" action="/logout" method="post">
	            <button type="submit">Logout</button>
	     </form>
		</div>
</div>
<p style="margin-top: 10px;margin-left: 30px;"><a href="javascript:history.back()">Back</a></p>
</div>

